@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
}
  


.font-sans {
  font-family: var(--font-sans);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}



/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.scrollbar-hide::-webkit-scrollbar-track {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  display: none;
}



@font-face {
  font-family: "Saans";
  src: url('/fonts/SaansVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

.saans{
  font-family: 'Saans', sans-serif;
}

@font-face {
  font-family: "Swastik";
  src: url('/fonts/Swansea.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lastik";
  src: url('/fonts/LastikFreeFont-Free.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;

}

.lastik{
  font-family: "Lastik";
}

.swastik{
  font-family: 'Swastik' !important;
}

input{
  font-family: "Saans";
}

